#mybutton{
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;   
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#mybutton.enabled{
    background-color: hsl(204, 100%, 50%);
    color: wheat;
}

#mybutton.hover{
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
    font-weight: bold;
}

#mybutton.disabled{
    background-color: hsl(0, 0%, 60%);
    color: hsl(0, 0%, 80%);
    cursor: not-allowed;
}
