# Node.js dependencies
/node_modules/

# Environment variables file
.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Build directories
dist/
build/

# Temporary files
*.tmp
*.swp
